<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792748423962-hlq7m8ebebfhvutjv26u0343vcoiijj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792748423962-hlq7m8ebebfhvutjv26u0343vcoiijj0</string>
	<key>API_KEY</key>
	<string>AIzaSyAM1IwwF7VdZSi-XyQhZmdMYe-7MYa-y0E</string>
	<key>GCM_SENDER_ID</key>
	<string>792748423962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.triplei.daySchedule</string>
	<key>PROJECT_ID</key>
	<string>boatrace-66b99</string>
	<key>STORAGE_BUCKET</key>
	<string>boatrace-66b99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792748423962:ios:dbff7f8e07cf5620f7caa3</string>
	<key>DATABASE_URL</key>
	<string>https://boatrace-66b99.firebaseio.com</string>
</dict>
</plist>